@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;300;400;600;800&display=swap');

* {
    font-family: 'Noto Sans JP', sans-serif;
}

.bg-sky {
    background: url("../images/sky.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.card-img-top {
    width: 100%;
    height: 180px; 
    object-fit: cover;
  }

.card-body {
    height: 120px;
    position: relative;
}

.card .card-created {
    font-size: 0.7rem;
    position: absolute;
    right: 5px;
    bottom: -15px;
}

.card .card-created-name {
    font-size: 0.7rem;
    position: absolute;
    right: 5px;
    bottom: 3px;
}

.card {
    box-shadow: 0 9px 22px rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
}

.card .tags {
    position: absolute;
    left: 15px;
    bottom: 30px;
    font-size: 0.9rem;
}

.errorMessage {
    transform: translateY(20px);
}

/* icon */

.icon {
    font-size: 1.8rem;
}


#delete .card {
    height: 500px;
}